var config = require("./config.json");

exports.handler = (event, context, callback) => {
    event["couchdb"] = config.couchdb;
    callback(null, run(event));
};

{% include "../core/SlackCommand.js" %}